@import './common';
@import './example';

.unvisible {
    display: none;
}

.container {
    padding: 20px;
}
.wrapper {
    padding: 0px 20px;
    width: auto;
}


.cat-info {
    display: flex;
}

.title {
    margin-top: 0px;
}

.breed-select {
    margin-bottom: 10px;
}

.accent {
    font-weight: 700;
}

.loader {
     font-weight: 700;
}
